html {
  overflow-y: scroll;
}

.nav-tabs{
  font-size: x-large;
}


body {
  font-family: Calibri;
  background-color: #F5F5F5;
  font-size: large;
}

h1{
  font-style: italic;
}

.brow {
  display: grid;
  min-height: 100%;
  grid-row-gap: 20px;
  grid-template-rows: auto 20px;
}

.footer {
  text-align: center;
}

.jobdesc {
  display:none;
}

.jobsum:hover .jobdesc {
  display: block;
}


.grow {
  margin: 2px 2px 2px 10px;
  height: auto;
  width: 95%;
  float: left;
  position: relative;
  transition: max-height 1s;
  text-align: left;
  overflow: hidden;
  max-height: 1.2em;
}
.grow:hover {
  max-height: 20em;
}

.grow .p{
  margin: 0;
  padding: 0;
}

.skilllogo {
  white-space:nowrap;
}


.trow {
  display: grid;
  grid-template-columns: 310px auto;
  grid-column-gap: 20px;
}

.leftpanel{
  display: grid;
  grid-template-rows: 360px auto;
  grid-row-gap: 20px;
  max-height: 520px;
}



@media (max-width:860px){
  .nav-tabs{
    font-size: large;
  }
  
  body{
    font-size: medium;
  }
  
  .trow {
    grid-template-columns: 207px auto;
    grid-column-gap: 10px;
  }
  .leftpanel{
    grid-template-rows: 240px auto;
    grid-row-gap: 10px;
    max-height: 347px;
  }

  
}

@media (max-width:660px){
  .nav-tabs{
    font-size: large;
  }
  
  body{
    font-size: medium;
  }
  
  .trow {
    grid-template-columns: 1fr;
    grid-template-rows: 240px auto;
    grid-column-gap: 10px;
  }
  
  .leftpanel{
    grid-template-columns: 207px auto;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    align-items: center;
  }

  
}